.entry_content{

    p, ul, ol, .wpforms-container{
        max-width: $maxContentWidth;
        margin-left: auto;
        margin-right: auto;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-bottom: 2rem;
    }

    hr{
        max-width: $maxContentWidth;
        margin-left: auto;
        margin-right: auto;
    }
}