$accentRed: hsl(0, 81%, 35%);
$accentPrimary: $accentRed;
$darkOverlay: hsla(0, 0%, 0%, 0.3);
$mainNavMobilePrimaryBg: #ffffff;
$mainNavMobileSecondaryBg: #a2a2a2;
$mainNavMobileLinkColor: #000000;
$mainNavMobileSecondaryLinkColor: #ffffff;
$mainNavLinkColor: #ffffff;
$mainNavSecondaryLinkColor: #ffffff;
$mainNavSubmenuBackgroundColor: rgba(148, 148, 149, 0.9);
$mainNavSubmenuLinkColor: #000000;
$footerTextColor: #ffffff;
$footerLinkColor: #ffffff;
$underPageTitleBorderColor: #000000;