$primaryFontFamily: Arial, Helvetica, sans-serif;
$headingFontFamily: Arial, Helvetica, sans-serif;
$navMenuFontFamily: Arial, Helvetica, sans-serif;
$secondaryNavMenuFontFamily: Arial, Helvetica, sans-serif;