.cta-container{
    position:relative;
    padding: 10px 20px;

    .cta-overlay{
        position:absolute;
        inset: 0px;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    *{
        position:relative;
        z-index:1;
        text-align:center;
    }
}